
.form-con {
	padding: 20px;
	min-height: 500px;
	overflow-x: auto;
}

.form-condition {
	margin-left: 20px;
}

.form-inline .form-group {
	margin-bottom: 10px;
}

.form-condition button {
	margin-bottom: 10px;
}

.form-condition input.vinput {
	height: 30px;
}

.form-condition .form-control {
	width: 170px;
	margin-right: 28px;
	padding: 0;
}

.dropdown .form-control.focus .dropdown-menu {
	display: block;
}

.dropdown-menu {
	left: 84px;
}

.form-group label {
	width: 80px;
	text-align: right;
}

.caret {
	position: relative;
	right: 50px;
}

input#reservation {
	height: 36px;
	text-indent: 5px;
	border: none;
}

.form-control fieldset {
	width: 234px;
	display: inline;
	color: black;
	height: 22px;
}

.form-control span {
	/* float: left; */
	padding-right: 10px;
	border: none;
}

.form-control .input-group-addon {
	border-radius: 0;
	height: 36px;
}

.input-group-addon {
	background: none;
}



.fixed-table-header {
	margin-right: 17px!important;
}