/*reset css*/

body {
	color: #7a7676;
	overflow-x: hidden;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
	padding: 0;
	margin: 0;
}

input,
select,
textarea {
	color: #767676;
}

li {
	list-style: none;
}

a:focus,
a:active,
a:hover {
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: #353F4F;
	text-decoration: none;
}

.mtop10 {
	margin-top: 10px;
}

hr {
	border-color: #ddd;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}


/*reset end*/


/*left-side*/

.left-side {
	position: fixed;
	height: 100%;
	background-color: #363845;
	width: 225px;
	z-index: 9999;
	transition: all 0.3s;
	/* overflow-y: auto; */
}

.left-side .logo {
	height: 73px;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 10px;
}

.left-side-menu .menu-list {
	border-left: solid 2px #363845;
}

.left-side-menu ul>li {
	line-height: 50px;
	cursor: pointer;
	position: relative;
}

.left-side-menu li,
.left-side-menu li a {
	color: #FFF;
	font-size: 14px;
	position: Relative;
}

.left-side-menu li:hover,
.left-side-menu li.active {
	background-color: #2e303c;
	color: #fff;
}

.left-side-menu li.active {
	border-left: solid 2px #27af9a;
}

.left-side-menu li>a {
	padding-left: 10px;
	display: inline-block;
	width: 100%;
}

.left-side-menu li>a .iconfont {
	margin-right: 10px;
}

.left-side-menu li .sub-menu-list {
	display: none;
}

.left-side-menu li .sub-menu-list.active {
	background-color: #2e303c;
}

.left-side-menu li .sub-menu-list.active li:hover {
	background-color: #232635;
}

.left-side-menu li .sub-menu-list li {
	/*animation: fadein .5s, 100ms;*/
}

.left-side-menu li .sub-menu-list li a {
	animation: fadein .5s, 100ms;
	padding-left: 40px;
}

@keyframes fadein {
	0% {
		opacity: 0;
		padding-left: 0px;
	}
	100% {
		opacity: 1;
		padding-left: 40px;
	}
}

.left-side-menu li .sub-menu-list li:hover {
	background-color: #232635;
}

.left-side-menu li i.fold {
	float: right;
	margin-right: 20px;
	transition: all 0.5s;
}

.left-side-menu li i.fold-down {
	transform: rotate(90deg);
}

.left-side-collapsed .left-side {
	width: 45px;
	transition: all 0.3s;
}

.left-side-collapsed .main-content .header-section {
	left: 45px;
}

.left-side-collapsed .logo {
	margin-top: -11px;
	display: block !important;
	width: 44px;
	overflow: hidden;
}

.left-side-collapsed .menu-right {
	margin-right: 45px;
}

.left-side-collapsed .main-content {
	margin-left: 47px;
	transition: all 0.3s;
}

.left-side-collapsed .main-content .toggle-btn {
	transform: rotate(180deg);
}

.left-side-collapsed .menu-list.nav-hover ul {
	display: block;
}

.left-side-collapsed .custom-nav li a {
	text-align: center;
	position: relative;
}

.left-side-collapsed .custom-nav li a .fold {
	display: none;
}

.left-side-collapsed .custom-nav li.nav-hover a span {
	display: block;
	color: #fff;
}

.left-side-collapsed .custom-nav li a span {
	position: absolute;
	left: 43px;
	top: 0;
	min-width: 172px;
	z-index: 103;
	display: none;
	background-color: #353F4F;
}

.left-side-collapsed .custom-nav> li.menu-list> a {
	background-image: none;
}

.left-side-collapsed .custom-nav> li.nav-hover> a,
.left-side-collapsed .custom-nav> li.nav-hover.active> a {
	background: #fff;
	color: #424F63;
}

.left-side-collapsed .custom-nav li.nav-hover a span {
	display: block;
	color: #fff;
	padding-left: 10px;
	text-align: left;
}

.left-side-collapsed .menu-list.nav-hover ul {
	display: block;
	position: absolute;
	left: 43px;
	margin: 0;
	min-width: 172px;
	background: #353F4F;
	-moz-border-radius: 0 0 2px 0;
	-webkit-border-radius: 0 0 2px 0;
	border-radius: 0 0 2px 0;
	top: 50px;
	z-index: 103;
}

.left-side-collapsed .custom-nav ul a {
	text-align: left;
	padding-left: 10px;
}

.left-side-collapsed .menu-list.nav-hover ul {
	display: block!important;
}

.left-side-collapsed .left-side-menu li .sub-menu-list li a {
	padding-left: 25px;
	animation: fadeins .5s, 100ms;
}

@keyframes fadeins {
	0% {
		opacity: 0;
		padding-left: 0px;
	}
	100% {
		opacity: 1;
		padding-left: 25px;
	}
}


/*left-side end*/


/*right content*/

.main-content {
	padding-top: 115px;
	margin-left: 225px;
	background-color: #fff;
	min-height: 1000px;
	overflow: auto;
}

.main-content .header-section {
	position: fixed;
	top: 0;
	left: 225px;
	width: 100%;
	background-color: #fff;
	z-index: 998;
}

.toggle-btn {
	line-height: 20px;
	font-size: 30px;
	padding: 10px;
	cursor: pointer;
	float: left;
	color: #212121;
	-moz-transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	transition: all 0.2s ease-out 0s;
}

.toggle-btn i {
	font-size: 30px;
}

.toggle-btn:hover {
	background: #363845;
	color: #fff;
	border-right-color: #363845;
}

.menu-right {
	float: right;
	margin-right: 225px;
}

.notification-menu {
	list-style: none;
}

.notification-menu> li {
	display: inline-block;
	float: left;
	position: relative;
}

toggle.active,
.notification-menu .dropdown-toggle.dropdown-toggle:hover {
	background: #424f63;
	color: #FFF;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.notification-menu> li> a> i {
	margin-top: 6px;
	font-size: 25px;
}

.notification-menu> li .badge {
	background: #FF6C60;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	font-size: 10px;
	font-weight: normal;
	line-height: 13px;
	padding: 1px 3px;
	position: absolute;
	right: 4px;
	top: 5px;
}

.notification-menu .dropdown-toggle {
	padding: 4px 10px;
	border-color: #fff;
	background: #fff;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: none;
}

.notification-menu .dropdown-toggle img {
	vertical-align: middle;
	margin-right: 5px;
	width: 36px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 18px;
}

.ztree-con {
	padding: 100px 0;
	position: fixed;
}


/*right-content end*/


/*media query*/

@media (min-width: 1200px) {
	.container {
		width: 1000px;
	}
}

@media screen and (max-width: 768px) {
	.left-side {
		display: none;
	}
	.main-content {
		margin-left: 0;
		width: 100%;
	}
	/*.left-side-collapsed .main-content{margin-left: 225px;} */
	.main-content .header-section {
		left: 0;
	}
	.menu-right {
		margin-right: 0;
	}
}


/*tab导航*/

.tab-menu {
	top: 44px;
	width: 100%;
	position: fixed;
	z-index: 998;
}

.tab-menu>ul {
	background-color: #f1f4f8;
	padding: 10px 0px;
}

.tab-menu li {
	float: left;
	line-height: 40px;
	padding: 0 30px;
	text-align: center;
	color: #999;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #f6f7fb;
	position: relative;
	margin-right: 2px;
	border: solid 1px #ccd0d9;
	cursor: pointer;
}

.tab-menu li.on {
	background-color: #fff;
}

.tab-menu li i.iconfont {
	position: absolute;
	top: -9px;
	font-size: 10px;
	right: 9px;
	cursor: pointer;
	transition: all 0.3s;
}

.tab-menu li i.iconfont:hover {
	transform: rotate(180deg);
}


/*component css*/

.container {
	padding-left: 0;
	padding-right: 0;
	margin: 10px 0 0 0;
	width: 100%;
}

.btn-primary,
.btn-primary-a,
.btn-primary-radio.selected {
	background-color: #3c9adc;
	border: #3c9adc 1px solid;
}

/*.icheckbox {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../img/green.png) no-repeat;
    border: none;
    cursor: pointer;
    position: relative;
}
.icheckbox{
    background-position: 0 0;
}
.icheckbox.checked {
    background-position: -48px 0;
}
.icheckbox input[type=checkbox] {
	position: absolute;
	opacity: 0;
}

.icheckbox .iCheck-helper {
	position: absolute;
	top: 0%;
	left: 0%;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	opacity: 0;
	background: rgb(255, 255, 255);
}*/

.dropdown-table {
	overflow: scroll;
}


/*component css end*/


/*滚动条样式 */

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track-piece {
	background-color: #eee;
	margin: -2px;
}

::-webkit-scrollbar-thumb {
	background: #aaa;
	min-height: 150px;
	min-width: 150px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical:hover {
	background: #555555
}

::-webkit-scrollbar-thumb:horizontal:hover {
	background: #555555
}

/*单选框复选框*/
input[type=checkbox]{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    margin: 0;
    cursor: pointer;
    vertical-align: bottom;
    border: 1px solid #ccc;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    font-size: 20px;
}
input[type=radio]{
	color: #ccc;
    font-size: 20px;
    line-height: 20px;
    margin: 10px;
}

input[type=checkbox]:active,input[type=radio]:active {
    border-color: #ccc;
    background: #ebebeb;
}       
        
input[type=checkbox]:hover {
    border:solid 1px #3c9adc;
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
}

input[type=checkbox]:checked,input[type=radio]:checked {
   background: #fff;
   color: #3c9adc;
}

input[type=checkbox]:checked::before {
    content: "\e67c";
    display: block;
    position: absolute;
    top: -3px;
    right: -2px;
}
.icon-radio:before{
	position: relative;
	left: -2px;
    top: -2px;
    background: #fff;
}
input[type=radio]:checked::after {
    content: "\e67b";
    display: inline;
    position: relative;
    top: -2px;
    right: 22px;
}

input[type=checkbox]:focus {
    outline: none;
    border-color: green;
}