/*reset*/
body {
    font-family: "microsoft yahei", sans-serif;
    color: #7a7676;
    line-height: 20px;
    overflow-x: hidden;
    font-size: 14px;
    margin:0; padding:0;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
input, select, textarea {
    font-family: 'Open Sans', sans-serif;
    color: #767676;
}
li{list-style: none;}
a:focus, a:active, a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #353F4F;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
}

.mtop10 {
    margin-top: 10px;
}

hr {
    border-color: #ddd;
}
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}


/*left-side*/
.left-side{position: fixed;height: 100%;background-color: #363845;width: 225px;z-index: 9999;transition: all 0.3s;}
.left-side .logo{height: 73px;text-align: center;padding-top: 20px;margin-bottom: 10px;}
.left-side-menu .menu-list{border-left: solid 2px #363845;}
.left-side-menu ul >li{line-height: 50px;cursor: pointer;position: relative;}
.left-side-menu li,.left-side-menu li a{color: #999;font-size: 14px;position: Relative;}
.left-side-menu li:hover,.left-side-menu li.active{background-color:#2e303c;color:#fff;}
.left-side-menu li.active{border-left:solid 2px #27af9a;}
.left-side-menu li >a{padding-left: 10px;display: inline-block;width: 100%;}
.left-side-menu li >a .iconfont{margin-right: 10px;}
.left-side-menu li .sub-menu-list{display: none;}
.left-side-menu li .sub-menu-list.active{background-color: #2e303c;}
.left-side-menu li .sub-menu-list.active li:hover{background-color:#232635;}
.left-side-menu li .sub-menu-list li{padding-left: 0px;}
.left-side-menu li .sub-menu-list li a{padding-left: 40px;}
.left-side-menu li .sub-menu-list li:hover{background-color:#232635;}
.left-side-menu li i.fold{float: right;margin-right: 20px;transition: all 0.3s;}
.left-side-menu li i.fold-down{transform: rotate(90deg);}   
.ztree-con{padding: 100px 0;position: fixed;}
.left-side-collapsed .left-side {width: 45px;transition: all 0.3s;}
.left-side-collapsed .main-content .header-section{left: 45px;}
.left-side-collapsed .logo {margin-top: -11px;display: block !important;width: 44px;overflow: hidden;}
.left-side-collapsed .menu-right{margin-right: 45px;}
.left-side-collapsed .main-content{margin-left: 47px;transition: all 0.3s;}
.left-side-collapsed .main-content .toggle-btn {transform: rotate(180deg);}
.left-side-collapsed .menu-list.nav-hover ul {display: block;}
.left-side-collapsed .custom-nav li a {
    text-align: center;
    position: relative;
}

.left-side-collapsed .custom-nav li a .fold{display: none;}
.left-side-collapsed .custom-nav li.nav-hover a span {
    display: block;
    color: #fff;
}
.left-side-collapsed .custom-nav li a span {
    position: absolute;
    left: 43px;
    top: 0;
    min-width: 172px;
    z-index: 103;
    display: none;
    background-color: #353F4F;
}
.left-side-collapsed .custom-nav > li.menu-list > a {
    background-image: none;
}
.left-side-collapsed .custom-nav > li.nav-hover > a, .left-side-collapsed .custom-nav > li.nav-hover.active > a {
    background: #fff;
    color: #424F63;
}
.left-side-collapsed .custom-nav li.nav-hover a span {
    display: block;
    color: #fff;
    padding-left: 10px;
    text-align: left;
}
.left-side-collapsed .menu-list.nav-hover ul {
    display: block;
    position: absolute;
    left: 43px;
    margin: 0;
    min-width: 172px;
    background: #353F4F;
    -moz-border-radius: 0 0 2px 0;
    -webkit-border-radius: 0 0 2px 0;
    border-radius: 0 0 2px 0;
    top: 50px;
    z-index: 103;
}
.left-side-collapsed .custom-nav ul a {
    text-align: left;
    padding-left: 10px;
}
.left-side-collapsed .menu-list.nav-hover ul {
    display: block!important;
}
/*left-side end*/


/*right content*/
.main-content {
    padding-top: 115px;
    margin-left: 225px;
    background-color: #fff;
    min-height: 1000px;
    overflow: auto;
}
.main-content .header-section {
    position: fixed;
    top: 0;
    left: 225px;
    width:100%;
    background-color: #fff;
    z-index: 998;
}
.toggle-btn {
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    float: left;
    color: #212121;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.toggle-btn i{font-size: 30px;}
.toggle-btn:hover {
    background: #363845;
    color: #fff;
    border-right-color: #363845;
}
.menu-right {
    float: right;
    margin-right: 225px;
}

.notification-menu {
    list-style: none;
}

.notification-menu > li {
    display: inline-block;
    float: left;
    position: relative;
}
toggle.active, .notification-menu .dropdown-toggle.dropdown-toggle:hover {
    background: #424f63;
    color: #FFF;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.notification-menu > li > a > i {
    margin-top: 6px;
    font-size: 25px;
}
.notification-menu > li .badge {
    background: #FF6C60;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 1px 3px;
    position: absolute;
    right: 4px;
    top: 5px;
}
.notification-menu .dropdown-toggle {
    padding: 4px 10px;
    border-color: #fff;
    background: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}
.notification-menu .dropdown-toggle img {
    vertical-align: middle;
    margin-right: 5px;
    width: 36px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 18px;
}
/*right-content end*/


/*media query*/
@media (min-width: 1200px){
	.container {
	     width: 1000px;
	}
}
@media screen and (max-width: 768px){
	.left-side {
        display: none;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }
    /*.left-side-collapsed .main-content{margin-left: 225px;} */

    .main-content .header-section{left:0;}
    .menu-right{margin-right: 0;}
}